<style type="text/css">

    .inner-main {
        width: 350px;
        margin: 0 auto;
    }

    .header, .footer {
        width: 560px;
        margin: 25px auto;
        text-align: center;
    }

    .header img {
        width: 83px;
        height: 24px;
    }
    
    .social-link img {
        width: 63px;
        height: 63px;
        display: inline-block;
        margin: 0 10px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    h1 {
        color: #121C2B;
        font-size: 20px;
        font-weight: bold;
        line-height: 56px;
        text-transform: uppercase;
        margin: 0;
    }

    h3 {
        color: #121C2B;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        text-transform: uppercase;
        margin: 0;
    }

    p {
        margin: 0;
    }

    .description1 {
        color: rgba(18, 28, 43, 0.44);
        font-size: 16px;
        line-height: 24px;        
    }

    .description2 {
        color: rgba(18, 28, 43, 0.44);
        font-size: 14px;
        line-height: 20px;
    }

    .description3 {
        color: #000000;
        font-size: 17px;
        line-height: 27px;
    }

    .no-padding-ul {
        padding-left: 0;
    }

    .button {
        background-color: #EED27B;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
        width: 220px;
        border-radius: 45px;
        color: #202020;
        font-size: 12px;
        text-align: center;          
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 800;
        margin: 40px 0;
        padding: 22px 0;        
    }

    a.support {
        color: #127DB3;
        text-decoration: underline;
    }

    @media (max-width: 414px) {
        .mail {          
            padding: 20px;
        }

        .header, .main, .footer {
            width: 370px;
        }        
    }
</style>