extends layout.pug
block content
    div.inner-main
        h1 Welcome
        p(class='description1') You are now registered with the Mindera OpenDay conferences app.

        include contactsupport.html
